body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.reservation-details {
    border: 1px solid #ccc;
    padding-left: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

h1 {
    font-size: 3em;
}

.reservation-details h2 {
    font-size: 2.5em;
}

.reservation-details p {
    font-size: 30px;
    line-height: 1.5;
}

.button {
    font-size: 40px;
    position: fixed;
    bottom: 20px;
}

.button .underline {
    background-color: black;
    width: 100%;
    height: 8px;
    border-radius: 4px;
}

#button-finish-reservation {
    left: auto;
    right: 20px;
}

#button-back-to-reservation {
    right: auto;
    left: 20px;
}
