/* Style the container */
.container {
    width: 100%;
    overflow: hidden; /* Clear floats */
}

/* Style the rows */
.row {
    width: 100%;
    float: left;
    box-sizing: border-box;
    margin-bottom: 10px; /* Adjust spacing between rows */;
}

.table_row {
    width: 100%;
    float: left;
    box-sizing: border-box;
    margin-bottom: 10px; /* Adjust spacing between rows */
}


/* Style the cells */
.header_cell {
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #dddddd;
    text-align: center;
}

.tischnr_cell {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    font-size: 25px;
}

.table_cell {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #dddddd;
}
table{
    table-layout: fixed;
}
.days {
    float: left;
    width: 5%;
    background-color: red;
}

.hours{
    width: 100%;
    background-color: orchid;
}
th, td {
    display: table-cell;
    text-align: center;
    border: 1px solid gray;
    vertical-align: middle;
    word-wrap: break-word;
}
tr{
    width: 100%;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    padding-bottom:20px ;
}
