<!DOCTYPE html>
<html lang="de">
<head>
    <title>Divs drehen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
</head>
<body>
    <ul class='circle-container'>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
    </ul>
    <div id="button-left" onclick="moveForward()">Zurück</div>
    <div id="button-right" onclick="moveBackward()">Weiter</div>
    <script>
        const elements = document.querySelectorAll('.circle-container li');

        function moveForward() {
            const firstElement = document.querySelector('.circle-container li');
            //const lastElement = document.querySelector('.circle-container li:last-child');
            //firstElement.style.transform = `rotate(${parseInt(firstElement.style.transform.split('(')[1]) + 45}deg) translate(10em) rotate(-${parseInt(firstElement.style.transform.split('(')[1]) + 45}deg)`;
            document.querySelector('.circle-container').appendChild(firstElement);
        }

        function moveBackward() {
            //const firstElement = document.querySelector('.circle-container li');
            const lastElement = document.querySelector('.circle-container li:last-child');
            //lastElement.style.transform = `rotate(${parseInt(lastElement.style.transform.split('(')[1]) - 45}deg) translate(10em) rotate(-${parseInt(lastElement.style.transform.split('(')[1]) - 45}deg)`;
            document.querySelector('.circle-container').prepend(lastElement);
        }

        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function() {
            console.log('Connected to server');
        });

        socket.on('new_value', function(data) {
            if (data.ok) {

            }

            // Wenn das Ereignis 'back' empfangen wird
            if (data.back) {

            }

            // Wenn das Ereignis 'right' empfangen wird
            if (data.right) {
              moveForward();
            }

            // Wenn das Ereignis 'left' empfangen wird
            if (data.left) {
                moveBackward();
            }
        });
    </script>
</body>
</html>
