<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/start_screen_styles.css">
    <script src="../static/javascript/io.js"></script>
    <script src="../static/javascript/start_screen_script.js"></script>
    <title>Startbildschirm</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="header_cell" style="font-weight: bold; font-size: 20px"><p>Denkraum</p><p>Gebäude A</p></div>
        <div id="time" class="header_cell" style="font-weight: bold; font-size: 92px; text-align: center" ></div>
        <div id="date" class="header_cell" style="font-weight: bold; font-size: 20px; text-align: right"><p>Mittwoch</p><p>17.01.2024</p></div>
    </div>
    <div class="row">
        <div id="tischnr_cell" class="tischnr_cell" style="font-weight: bold; font-size: 50px; border-bottom: 2px solid black">Tisch Nr.
            <div> 1</div>
            <div> 2</div>
            <div> 3</div>
            <div> 4</div>
            <div> 5</div>
            <div> 6</div>
            <div> 7</div>
            <div> 8</div>
        </div>
    </div>
    <div class="table_row">
        <div class="table_cell">
            <table class="real_table" id="myTable">
                <tr>
                    <th id="header_spacing"></th>
                    <th><p>07:00</p></th>
                    <th>08:00</th>
                    <th>09:00</th>
                    <th>10:00</th>
                    <th>11:00</th>
                    <th>12:00</th>
                    <th>13:00</th>
                    <th>14:00</th>
                    <th>15:00</th>
                    <th>16:00</th>
                    <th>17:00</th>
                    <th>18:00</th>
                    <th>19:00</th>
                </tr>
                <tr id="Montag">
                    <td class="left_most">
                        <p style="font-weight: bold">Mi.</p>
                        <p style="font-weight: bold">17.</p>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="right_most"></td>
                </tr>
                <tr id="Dienstag">
                    <td class="left_most">
                        <p style="font-weight: bold">Do.</p>
                        <p style="font-weight: bold">18.</p>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="right_most"></td>
                </tr>
                <tr id="Mittwoch">
                    <td class="left_most">
                        <p style="font-weight: bold">Fr.</p>
                        <p style="font-weight: bold">19.</p>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="right_most"></td>
                </tr>
                <tr id="Donnerstag">
                    <td class="left_most">
                        <p style="font-weight: bold">Mo.</p>
                        <p style="font-weight: bold">20.</p>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="right_most"></td>
                </tr>
                <tr id="Freitag">
                    <td class="left_most">
                        <p style="font-weight: bold">Di.</p>
                        <p style="font-weight: bold">21.</p>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="right_most"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!--
<div id="button-turn-backward" class="button">
    Rückwärts
    <div class="underline"></div>
</div>
<div id="button-turn-forward" class="button">
    Vorwärts
    <div class="underline"></div>
</div>
-->
<div id="button-go-to-reservation" class="button">
    Zur Reservierung
<div class="underline"></div>


</div>
</body>
</html>
