<!DOCTYPE html>
<html lang="de">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Tischplaner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/javascript/io.js"></script>
    <script src="../static/javascript/script.js"></script>
</head>
<body>
<ul class='circle-container' id="circle-container"></ul>
<ul class='circle-container' id="circle-container2"></ul>
<div class="label" id="label"></div>
<div id="button-left" class="button">
    Zurück
    <div class="underline"></div>
</div>
<div id="button-right" class="button">
    Weiter
    <div class="underline"></div>
</div>
</body>
</html>
