<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Reservierung abschließen</title>
    <link rel="stylesheet" href="../static/css/completed_reservation_styles.css">
    <script src="../static/javascript/io.js"></script>
    <script src="../static/javascript/completed_reservation_script.js"></script>
</head>
<body>
    <h1>Tischreservierung</h1>
    <div class="reservation-details">
        <h2>Reservierungsdetails</h2>
        <p><strong>ID:</strong> <span id="ID">ID hier</span></p>
        <p><strong>Tischnummer:</strong> <span id="Tischnummer">Tischnummer hier</span></p>
        <p><strong>Datum:</strong> <span id="Datum">Datum hier</span></p>
        <p><strong>Uhrzeit:</strong> <span id="Uhrzeit">Uhrzeit hier</span></p>
        <p><strong>Dauer:</strong> <span id="Dauer">Dauer hier</span></p>
    </div>
    <div id="button-back-to-reservation" class="button">
        Zurück
        <div class="underline"></div>
    </div>
    <div id="button-finish-reservation" class="button">
        Reservierung abschließen
        <div class="underline"></div>
    </div>
</body>
</html>
